<div class="block" style="text-align: center;">
<span class="post-count">  ————字数统计 <%= wordcount(post.content) %> 字</span>
<span class="post-count"> | 阅读时长 <%= min2read(post.content) %> 分钟————  </span>
</div>