<div id="gitments"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
    var gitment = new Gitment({
      id: window.location.pathname,
      owner: 'goghtsui',
      repo: 'goghtsui.github.io',
      oauth: {
        client_id: 'a51bca6014170b8afa62',
        client_secret: 'e744aa2116c71116314abd21b3ff08e4c98f8ded',
      },
    })
    gitment.render('gitments')
</script>